USE [BD_CONTROL DE ASISTENCIAS(DOCENTE/ALUMNO)]
GO
/****** Object:  Table [dbo].[DOCENTE]    Script Date: 09/07/2019 04:48:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCENTE](
	[ID_DOCENTE] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [int] NOT NULL,
	[NOMBRE_APELLIDOS] [varchar](500) NOT NULL,
	[FOTO] [image] NULL,
 CONSTRAINT [PK_DOCENTE] PRIMARY KEY CLUSTERED 
(
	[ID_DOCENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_docente]    Script Date: 09/07/2019 04:48:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista_docente]
AS
SELECT        DNI, NOMBRE_APELLIDOS AS DOCENTE, FOTO
FROM            dbo.DOCENTE
GO
/****** Object:  Table [dbo].[ALUMNO]    Script Date: 09/07/2019 04:48:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUMNO](
	[ID_ALUMNO] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [int] NOT NULL,
	[NOMBRE_APELLIDOS] [varchar](500) NOT NULL,
	[CARRERA] [varchar](50) NOT NULL,
	[SEXO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ALUMNO] PRIMARY KEY CLUSTERED 
(
	[ID_ALUMNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATRICULA]    Script Date: 09/07/2019 04:48:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATRICULA](
	[ID_ALUMNO] [int] NOT NULL,
	[ID_CURSOS] [int] NOT NULL,
	[CICLO] [int] NOT NULL,
	[ID_MAT] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_MATRICULA] PRIMARY KEY CLUSTERED 
(
	[ID_MAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CURSOS]    Script Date: 09/07/2019 04:48:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURSOS](
	[ID_CURSO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CURSO] [varchar](50) NOT NULL,
	[CREDITOS] [int] NOT NULL,
	[HORAS] [int] NOT NULL,
	[CARRERA] [varchar](50) NULL,
 CONSTRAINT [PK_CURSOS] PRIMARY KEY CLUSTERED 
(
	[ID_CURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_matricula]    Script Date: 09/07/2019 04:48:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista_matricula]
AS
SELECT        dbo.MATRICULA.ID_MAT AS ID, dbo.ALUMNO.NOMBRE_APELLIDOS AS ALUMNO, dbo.ALUMNO.CARRERA, dbo.CURSOS.NOMBRE_CURSO AS CURSO, dbo.MATRICULA.CICLO
FROM            dbo.ALUMNO INNER JOIN
                         dbo.MATRICULA ON dbo.ALUMNO.ID_ALUMNO = dbo.MATRICULA.ID_ALUMNO INNER JOIN
                         dbo.CURSOS ON dbo.MATRICULA.ID_CURSOS = dbo.CURSOS.ID_CURSO
GO
/****** Object:  Table [dbo].[CLASE]    Script Date: 09/07/2019 04:48:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASE](
	[ID_CLASE] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [date] NOT NULL,
	[HORA] [varchar](50) NOT NULL,
	[ID_DOC] [int] NOT NULL,
 CONSTRAINT [PK_CLASE] PRIMARY KEY CLUSTERED 
(
	[ID_CLASE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_clase]    Script Date: 09/07/2019 04:48:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista_clase]
AS
SELECT        dbo.CLASE.ID_CLASE AS [ID CLASE], dbo.CLASE.FECHA, dbo.CLASE.HORA, dbo.DOCENTE.DNI AS [DNI DEL DOCENTE], dbo.DOCENTE.NOMBRE_APELLIDOS AS DOCENTE, 
                         dbo.DOCENTE.FOTO AS [FOTO DEL DOCENTE]
FROM            dbo.CLASE INNER JOIN
                         dbo.DOCENTE ON dbo.CLASE.ID_DOC = dbo.DOCENTE.ID_DOCENTE
GO
/****** Object:  Table [dbo].[AULA]    Script Date: 09/07/2019 04:48:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AULA](
	[ID_AUU] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLASE] [int] NOT NULL,
	[ID_MAT] [int] NOT NULL,
 CONSTRAINT [PK_DETALLA_MATRICULA/CLASE] PRIMARY KEY CLUSTERED 
(
	[ID_AUU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARRERA]    Script Date: 09/07/2019 04:48:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRERA](
	[CARRERA] [varchar](50) NOT NULL,
	[imagen] [image] NULL,
 CONSTRAINT [PK_CARRERA] PRIMARY KEY CLUSTERED 
(
	[CARRERA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_aula]    Script Date: 09/07/2019 04:48:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista_aula]
AS
SELECT        dbo.AULA.ID_AUU AS ID, dbo.DOCENTE.NOMBRE_APELLIDOS AS DOCENTE, dbo.DOCENTE.FOTO, dbo.ALUMNO.NOMBRE_APELLIDOS AS ALUMNO, dbo.CARRERA.CARRERA, dbo.MATRICULA.CICLO, 
                         dbo.CURSOS.NOMBRE_CURSO AS CURSO, dbo.CLASE.FECHA, dbo.CLASE.HORA, dbo.CLASE.ID_CLASE AS [ID CLASE]
FROM            dbo.DOCENTE INNER JOIN
                         dbo.CLASE INNER JOIN
                         dbo.AULA ON dbo.CLASE.ID_CLASE = dbo.AULA.ID_CLASE ON dbo.DOCENTE.ID_DOCENTE = dbo.CLASE.ID_DOC INNER JOIN
                         dbo.MATRICULA ON dbo.AULA.ID_MAT = dbo.MATRICULA.ID_MAT INNER JOIN
                         dbo.CURSOS INNER JOIN
                         dbo.ALUMNO INNER JOIN
                         dbo.CARRERA ON dbo.ALUMNO.CARRERA = dbo.CARRERA.CARRERA ON dbo.CURSOS.CARRERA = dbo.CARRERA.CARRERA ON dbo.MATRICULA.ID_CURSOS = dbo.CURSOS.ID_CURSO AND 
                         dbo.MATRICULA.ID_ALUMNO = dbo.ALUMNO.ID_ALUMNO
GO
/****** Object:  Table [dbo].[ASISTENCIA]    Script Date: 09/07/2019 04:48:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASISTENCIA](
	[ID_ASIS] [int] IDENTITY(1,1) NOT NULL,
	[ID_AUU] [int] NOT NULL,
	[ESTADO] [varchar](50) NULL,
 CONSTRAINT [PK_ASISTENCIA] PRIMARY KEY CLUSTERED 
(
	[ID_ASIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_asistencia]    Script Date: 09/07/2019 04:48:09 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista_asistencia]
AS
SELECT        dbo.ASISTENCIA.ID_ASIS AS ID, dbo.AULA.ID_CLASE AS CLASE, dbo.ALUMNO.NOMBRE_APELLIDOS AS ALUMNO, dbo.ASISTENCIA.ESTADO
FROM            dbo.AULA INNER JOIN
                         dbo.ASISTENCIA ON dbo.AULA.ID_AUU = dbo.ASISTENCIA.ID_AUU INNER JOIN
                         dbo.CLASE ON dbo.AULA.ID_CLASE = dbo.CLASE.ID_CLASE INNER JOIN
                         dbo.MATRICULA ON dbo.AULA.ID_MAT = dbo.MATRICULA.ID_MAT INNER JOIN
                         dbo.ALUMNO ON dbo.MATRICULA.ID_ALUMNO = dbo.ALUMNO.ID_ALUMNO
GO
/****** Object:  Table [dbo].[HORARIO_ASIGNADO]    Script Date: 09/07/2019 04:48:09 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIO_ASIGNADO](
	[ID_HORASIG] [int] IDENTITY(1,1) NOT NULL,
	[ID_DOCENTE] [int] NOT NULL,
	[ID_HORARIO] [int] NOT NULL,
 CONSTRAINT [PK_HORARIO_ASIGNADO] PRIMARY KEY CLUSTERED 
(
	[ID_HORASIG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTRADA/SALIDA]    Script Date: 09/07/2019 04:48:09 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRADA/SALIDA](
	[ID_ES] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [varchar](50) NOT NULL,
	[FECHA] [date] NOT NULL,
	[ID_HORASIG] [int] NOT NULL,
	[HORA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ENTRADA/SALIDA] PRIMARY KEY CLUSTERED 
(
	[ID_ES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_entradasalida]    Script Date: 09/07/2019 04:48:09 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista_entradasalida]
 AS
 select es.ID_ES as 'ID',ES.TIPO ,ES.FECHA,ES.HORA,DO.NOMBRE_APELLIDOS AS 'DOCENTE' from [entrada/salida] es INNER JOIN HORARIO_ASIGNADO HA ON HA.ID_HORASIG = ES.ID_HORASIG  INNER JOIN DOCENTE DO ON DO.ID_DOCENTE = HA.ID_DOCENTE 
GO
/****** Object:  Table [dbo].[HORARIO]    Script Date: 09/07/2019 04:48:09 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIO](
	[ID_HORARIO] [int] IDENTITY(1,1) NOT NULL,
	[DIA] [date] NOT NULL,
	[HORA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_HORARIO] PRIMARY KEY CLUSTERED 
(
	[ID_HORARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_horarioasignado]    Script Date: 09/07/2019 04:48:09 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vista_horarioasignado]
 AS
 SELECT HA.ID_HORASIG AS 'ID', d.NOMBRE_APELLIDOS as 'DOCENTE',CAST(HO.DIA AS varchar(50)) + ' - ' + CAST(HO.HORA AS varchar(50)) AS 'HORARIO' FROM HORARIO_ASIGNADO HA INNER JOIN DOCENTE D ON HA.ID_DOCENTE = D.ID_DOCENTE INNER JOIN HORARIO HO ON HO.ID_HORARIO = HA.ID_HORARIO 


GO
/****** Object:  View [dbo].[vista_clase2]    Script Date: 09/07/2019 04:48:09 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista_clase2]
AS
SELECT        FECHA, HORA, ID_DOC
FROM            dbo.CLASE
GO
SET IDENTITY_INSERT [dbo].[ALUMNO] ON 

INSERT [dbo].[ALUMNO] ([ID_ALUMNO], [DNI], [NOMBRE_APELLIDOS], [CARRERA], [SEXO]) VALUES (11, 72657666, N'Kevin Anderson-Palna Lluen', N'INGENIERIA TELE-INFORMATICA', N'MASCULINO')
INSERT [dbo].[ALUMNO] ([ID_ALUMNO], [DNI], [NOMBRE_APELLIDOS], [CARRERA], [SEXO]) VALUES (12, 74196300, N'Julio Fernando-Gavelan Gonzalés', N'INGENIERIA TELE-INFORMATICA', N'FEMENINO')
INSERT [dbo].[ALUMNO] ([ID_ALUMNO], [DNI], [NOMBRE_APELLIDOS], [CARRERA], [SEXO]) VALUES (13, 74195166, N'Edita -Chafloque Cajusol', N'INGENIERIA TELE-INFORMATICA', N'FEMENINO')
SET IDENTITY_INSERT [dbo].[ALUMNO] OFF
SET IDENTITY_INSERT [dbo].[CURSOS] ON 

INSERT [dbo].[CURSOS] ([ID_CURSO], [NOMBRE_CURSO], [CREDITOS], [HORAS], [CARRERA]) VALUES (7, N'PROGRAMACION III', 5, 5, N'INGENIERIA TELE-INFORMATICA')
SET IDENTITY_INSERT [dbo].[CURSOS] OFF
SET IDENTITY_INSERT [dbo].[DOCENTE] ON 

SET IDENTITY_INSERT [dbo].[DOCENTE] OFF
SET IDENTITY_INSERT [dbo].[HORARIO] ON 

INSERT [dbo].[HORARIO] ([ID_HORARIO], [DIA], [HORA]) VALUES (1, CAST(N'2019-06-22' AS Date), N'07:00:00.0000000')
INSERT [dbo].[HORARIO] ([ID_HORARIO], [DIA], [HORA]) VALUES (2, CAST(N'2019-06-24' AS Date), N'11:20:00.0000000')
INSERT [dbo].[HORARIO] ([ID_HORARIO], [DIA], [HORA]) VALUES (3, CAST(N'2019-06-30' AS Date), N'07:00:02.0000000')
SET IDENTITY_INSERT [dbo].[HORARIO] OFF
ALTER TABLE [dbo].[ALUMNO]  WITH CHECK ADD  CONSTRAINT [FK_ALUMNO_CARRERA1] FOREIGN KEY([CARRERA])
REFERENCES [dbo].[CARRERA] ([CARRERA])
GO
ALTER TABLE [dbo].[ALUMNO] CHECK CONSTRAINT [FK_ALUMNO_CARRERA1]
GO
ALTER TABLE [dbo].[ASISTENCIA]  WITH CHECK ADD  CONSTRAINT [FK_ASISTENCIA_AULA] FOREIGN KEY([ID_AUU])
REFERENCES [dbo].[AULA] ([ID_AUU])
GO
ALTER TABLE [dbo].[ASISTENCIA] CHECK CONSTRAINT [FK_ASISTENCIA_AULA]
GO
ALTER TABLE [dbo].[AULA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLA_MATRICULA/CLASE_CLASE] FOREIGN KEY([ID_CLASE])
REFERENCES [dbo].[CLASE] ([ID_CLASE])
GO
ALTER TABLE [dbo].[AULA] CHECK CONSTRAINT [FK_DETALLA_MATRICULA/CLASE_CLASE]
GO
ALTER TABLE [dbo].[AULA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLA_MATRICULA/CLASE_MATRICULA] FOREIGN KEY([ID_MAT])
REFERENCES [dbo].[MATRICULA] ([ID_MAT])
GO
ALTER TABLE [dbo].[AULA] CHECK CONSTRAINT [FK_DETALLA_MATRICULA/CLASE_MATRICULA]
GO
ALTER TABLE [dbo].[CLASE]  WITH CHECK ADD  CONSTRAINT [FK_CLASE_DOCENTE] FOREIGN KEY([ID_DOC])
REFERENCES [dbo].[DOCENTE] ([ID_DOCENTE])
GO
ALTER TABLE [dbo].[CLASE] CHECK CONSTRAINT [FK_CLASE_DOCENTE]
GO
ALTER TABLE [dbo].[CURSOS]  WITH CHECK ADD  CONSTRAINT [FK_CURSOS_CARRERA] FOREIGN KEY([CARRERA])
REFERENCES [dbo].[CARRERA] ([CARRERA])
GO
ALTER TABLE [dbo].[CURSOS] CHECK CONSTRAINT [FK_CURSOS_CARRERA]
GO
ALTER TABLE [dbo].[ENTRADA/SALIDA]  WITH CHECK ADD  CONSTRAINT [FK_ENTRADA/SALIDA_HORARIO_ASIGNADO1] FOREIGN KEY([ID_HORASIG])
REFERENCES [dbo].[HORARIO_ASIGNADO] ([ID_HORASIG])
GO
ALTER TABLE [dbo].[ENTRADA/SALIDA] CHECK CONSTRAINT [FK_ENTRADA/SALIDA_HORARIO_ASIGNADO1]
GO
ALTER TABLE [dbo].[HORARIO_ASIGNADO]  WITH CHECK ADD  CONSTRAINT [FK_HORARIO_ASIGNADO_DOCENTE] FOREIGN KEY([ID_DOCENTE])
REFERENCES [dbo].[DOCENTE] ([ID_DOCENTE])
GO
ALTER TABLE [dbo].[HORARIO_ASIGNADO] CHECK CONSTRAINT [FK_HORARIO_ASIGNADO_DOCENTE]
GO
ALTER TABLE [dbo].[HORARIO_ASIGNADO]  WITH CHECK ADD  CONSTRAINT [FK_HORARIO_ASIGNADO_HORARIO1] FOREIGN KEY([ID_HORARIO])
REFERENCES [dbo].[HORARIO] ([ID_HORARIO])
GO
ALTER TABLE [dbo].[HORARIO_ASIGNADO] CHECK CONSTRAINT [FK_HORARIO_ASIGNADO_HORARIO1]
GO
ALTER TABLE [dbo].[MATRICULA]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULA_ALUMNO1] FOREIGN KEY([ID_ALUMNO])
REFERENCES [dbo].[ALUMNO] ([ID_ALUMNO])
GO
ALTER TABLE [dbo].[MATRICULA] CHECK CONSTRAINT [FK_MATRICULA_ALUMNO1]
GO
ALTER TABLE [dbo].[MATRICULA]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULA_CURSOS] FOREIGN KEY([ID_CURSOS])
REFERENCES [dbo].[CURSOS] ([ID_CURSO])
GO
ALTER TABLE [dbo].[MATRICULA] CHECK CONSTRAINT [FK_MATRICULA_CURSOS]
GO
/****** Object:  StoredProcedure [dbo].[actualizar_alumno]    Script Date: 09/07/2019 04:48:09 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[actualizar_alumno]
  @ID_ALUMNO as int,
  @dni as int,
  @NOMBRE_APELLIDOS as varchar(500),
  @CARRERA as varchar(50),
  @sexo as varchar(50)
as
  update ALUMNO set NOMBRE_APELLIDOS = @NOMBRE_APELLIDOS , CARRERA=@CARRERA ,sexo=@sexo where ID_ALUMNO = @ID_ALUMNO
GO
/****** Object:  StoredProcedure [dbo].[actualizar_docente]    Script Date: 09/07/2019 04:48:09 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[actualizar_docente] 
  @id_docente as int,
  @dni as int,
  @nombre_apellidos as varchar(500),
  @foto as binary(50)
as
  update DOCENTE set dni = @dni , nombre_apellidos = @nombre_apellidos , foto = @foto where ID_DOCENTE = @id_docente 
GO
/****** Object:  StoredProcedure [dbo].[eliminar_alumno]    Script Date: 09/07/2019 04:48:09 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[eliminar_alumno]
  @ID_ALUMNO as int
as
  delete from ALUMNO where ID_ALUMNO = @ID_ALUMNO 
GO
/****** Object:  StoredProcedure [dbo].[eliminar_docente]    Script Date: 09/07/2019 04:48:09 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[eliminar_docente] 
  @id_docente as int
as
  delete from DOCENTE where ID_DOCENTE = @id_docente 
GO
/****** Object:  StoredProcedure [dbo].[insertar_alumno]    Script Date: 09/07/2019 04:48:09 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[insertar_alumno]
  @dni as int,
  @NOMBRE_APELLIDOS as varchar(500),
  @CARRERA as varchar(50),
  @sexo as varchar(50)
as
  insert into alumno values(@dni ,@NOMBRE_APELLIDOS,@CARRERA ,@sexo )
GO
/****** Object:  StoredProcedure [dbo].[insertar_carrera]    Script Date: 09/07/2019 04:48:09 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[insertar_carrera]
  @carrera as varchar(50),
  @imagen as binary(50) null
as
   insert into CARRERA values (@carrera,@imagen)
GO
/****** Object:  StoredProcedure [dbo].[insertar_docente]    Script Date: 09/07/2019 04:48:09 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertar_docente] 
  --@id_docente as int,
  @dni as int,
  @nombre_apellidos as varchar(500),
  @foto as image
as
  insert into DOCENTE values(@dni,@nombre_apellidos,@foto)
GO
/****** Object:  StoredProcedure [dbo].[insertar_horario]    Script Date: 09/07/2019 04:48:09 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertar_horario]
  @D as date,
  @H as time
as
  set language 'español'; insert into horario values(@D,@H)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[54] 4[24] 2[16] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "AULA"
            Begin Extent = 
               Top = 2
               Left = 551
               Bottom = 130
               Right = 721
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ASISTENCIA"
            Begin Extent = 
               Top = 63
               Left = 297
               Bottom = 193
               Right = 467
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "CLASE"
            Begin Extent = 
               Top = 234
               Left = 744
               Bottom = 364
               Right = 914
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MATRICULA"
            Begin Extent = 
               Top = 270
               Left = 274
               Bottom = 400
               Right = 444
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ALUMNO"
            Begin Extent = 
               Top = 133
               Left = 40
               Bottom = 263
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3690
         Alias = 2595
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vista_asistencia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vista_asistencia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vista_asistencia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[38] 2[19] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = -262
      End
      Begin Tables = 
         Begin Table = "DOCENTE"
            Begin Extent = 
               Top = 189
               Left = 104
               Bottom = 319
               Right = 306
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "CLASE"
            Begin Extent = 
               Top = 102
               Left = 486
               Bottom = 232
               Right = 656
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AULA"
            Begin Extent = 
               Top = 346
               Left = 145
               Bottom = 459
               Right = 315
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MATRICULA"
            Begin Extent = 
               Top = 257
               Left = 421
               Bottom = 379
               Right = 591
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "CURSOS"
            Begin Extent = 
               Top = 101
               Left = 730
               Bottom = 231
               Right = 911
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ALUMNO"
            Begin Extent = 
               Top = 34
               Left = 121
               Bottom = 164
               Right = 323
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "CARRERA"
            Begin Extent = 
               Top = 6
               Left = 486
               Bottom = 102
               Right = 656
            End
            DisplayFlags = 28' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vista_aula'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'0
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2580
         Alias = 900
         Table = 1320
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vista_aula'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vista_aula'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[26] 2[14] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = -12
      End
      Begin Tables = 
         Begin Table = "DOCENTE"
            Begin Extent = 
               Top = 65
               Left = 360
               Bottom = 195
               Right = 562
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "CLASE"
            Begin Extent = 
               Top = 52
               Left = 109
               Bottom = 182
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3540
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vista_clase'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vista_clase'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "CLASE"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vista_clase2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vista_clase2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "DOCENTE"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 240
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vista_docente'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vista_docente'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ALUMNO"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 240
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MATRICULA"
            Begin Extent = 
               Top = 7
               Left = 522
               Bottom = 137
               Right = 692
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "CURSOS"
            Begin Extent = 
               Top = 6
               Left = 278
               Bottom = 136
               Right = 459
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vista_matricula'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vista_matricula'
GO
